POSTGRES_DB=floo_ecommerce
POSTGRES_USER=floo
POSTGRES_PASSWORD=replace_with_a_long_random_database_password

NEXT_PUBLIC_API_URL=https://api.floofashionn.com/api/v1
LETSENCRYPT_EMAIL=owner@floofashionn.com
